:host {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    text-align: center;
  }
  
//   main {
//     display: flex;
//     flex: 5;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
  
  footer {
    height: 3rem;
    text-align: center;
  }
  
  .kendo-chat-area {
    height: 438px;
    width: -webkit-fill-available;
  }
//   .kendo-chat-area p {
//     margin: 0;
//     padding: 0;
// }

// .kendo-chat-area ul,
// .kendo-chat-area ol {
//     margin-left: 1rem;
//     padding: 0;
// }

// .kendo-chat-area blockquote {
//     margin: 0;
//     padding: 0.5rem;
//     border-left: 2px solid #ccc;
// }
